*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
}

img{
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
p {
    margin: 0;
}

section {
    margin: 7em 0;
}

.split{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
}

.split > * {
flex-basis: 30%;
min-width: 15em;
}

.spacing > * + * {
margin-top: var(--spacer, 2rem);
}

.container {
    max-width: 85%;
    max-width: 65em;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: var(--clr-text, white);
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: .5em 1.25em;
    background: var(--clr-accent, blue);
    border-radius: .25em;
    transition:
        transform 250ms ease-in-out,
        opacity 250ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.1);
    opacity: .9;
}

.primary-title {
    font-size: 4rem;
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
    line-height: 1;
    text-transform: uppercase;
}

.section-title{
    text-align: center;
    font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
    line-height: 1;
    color: #17353d;
    margin-bottom: 5rem;
}


@supports (background-blend-mode: multiply) {
    .hero{
        color: white;
        text-align: center;
        padding: 15em 0;
        background: url(../img/s-1.png),
        radial-gradient(#666, #111);
        background-blend-mode: multiply;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.featured{
    background: #eee;
}

.featured__item {
    display: block;
    position: relative;
    transform: scale(.85);
    transition: transform 250ms ease-in-out;
    text-decoration: none;
    color: #333;
    text-align: center;
    line-height: 1.2;
}

.featured__item:hover,
.featured__item:focus{
    transform: scale(1);
    text-shadow: 0 0 .25em white;
}

.featured__item:hover .featured__cena,
.featured__item:focus .featured__cena{
    opacity: 1;
    transition: opacity 250ms linear;
    
}

.featured__item::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 75% 75% 0 0;
    background: #2193b0;
    border-radius: 50%;
    z-index: -1;
}

.featured__cena{
    opacity: 0;
}

span {
    display: block;
    font-weight: 700;
    font-size: 2.5rem;
}

.product{
    background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
    padding: 2em;
    margin: 3em;
    border-radius: 1em;
    text-align: center;
}

.product__title{
    font-size: clamp(3rem, calc(5vw + 1rem ), 5.5rem);
    text-transform: uppercase;
    line-height: 1.1;
    color: #fff;
    text-shadow: 0 0 .2em rgba (#000, .2);
}

.product__image{
    margin: -5em 0 0 0;
}

@media (min-width: 45em){
    
.product__description{
    text-align: left;
    margin-bottom: 9em;
}

.product__title{
    margin: 0;
}    
    .product__image{
        float: right;
        width: 50%;
        shape-outside: url(../img/s-1.png);
        shape-margin: 1em;
        margin: 0 -5em 0 0;
        
    }
}

.hero{
    --clr-accent: #faa700;
}

.shoe-blue{
    --clr-inner: lightblue;
    --clr-outer: rgb(82, 133, 153);
    --clr-accent: rgb(66, 0, 128);
}

.shoe-black{
    --clr-inner: darkgray;
    --clr-outer: rgb(32, 32, 32);
    --clr-accent: rgb(187, 25, 25);
}

.shoe-purple{
    --clr-inner: rgb(136, 76, 214);
    --clr-outer: rgb(49, 0, 128);
    --clr-accent: orange;
}